header {
    @mixin flex column, space-between, flex-end;
}
.header-nav {
    @mixin flex row, space-between, flex-start;
    width: 100%;
    padding-left: 85px;
    padding-right: 65px;
    .logo {
        margin-top: 50px;
    }
    form {
        display: flex;
        margin-top: 60px;
        input.search {
            border-radius: 30px;
            background-color: #343c48;
            border: none;
            height: 45px;
            width: 265px;
        }
        .line-button {
            width: 20px;
            height: 20px;
            background-color: transparent;
            border: none;
            padding: 0;
            cursor: pointer;
            margin: auto;
            i {
                color: var(--colorWhite);
                font-size: 20px;
            }
        }
    }
}

.header-text {
    max-width: 640px;
    margin-bottom: 245px;
    margin-right: 320px;
    h1 {
        margin-bottom: 30px;
    }
}

.phone {
    position: absolute;
    right: 245px;
    bottom: 0;
    height: 605px;
}

.violet-block h2 {
    margin-bottom: 25px;
}

.violet-block p {
    font-size: 16px;
    max-width: 450px;
    margin-bottom: 35px;
    line-height: 25px;
}

.gray-block .column {
    padding-left: 40px;
    h3 {
        color: var(--colorDark);
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 30px;
        margin-top: 0;
    }
    .info-preheader {
        color: #696f7c;
        font-size: 20px;
        font-weight: 300;
    }
    .info-text {
        font-size: 14px;
        color: #44484f;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    &:first-child {
        padding-left: 0px;
    }
}

.darkgray-block {
    p {
        font-size: 16px;
        max-width: 1100px;
        margin: 40px auto;
        color: #9da5b0;
    }
    .site-view {
        @mixin flex row, flex-start, flex-start;
        height: 285px;
        width: 945px;
        padding: 18px 20px;
        background-color: #2b303b;
        background-image: url('../img/inner-page-bg.jpg');
        background-position: bottom;
        background-repeat: no-repeat;
        border-radius: 5px 5px 0 0;
        span {
            border-radius: 50%;
            display: block;
            margin-right: 10px;
            width: 11px;
            height: 11px;
            background-color: #404652;
        }
    }
}

.step {
    max-width: 260px;
    margin-right: 35px;
    .step-header {
        margin-top: 35px;
        margin-bottom: 20px;
    }
    .number {
        color: #3a4d60;
        font-size: 20px;
    }
    .header {
        color: var(--colorWhite);
        font-size: 20px;
    }
    .step-text {
        color: #9da5b0;
        font-size: 14px;
        line-height: 26px;
    }
}

.connect {
    max-width: 440px;
    h2 {
        color: #2b303b;
        font-weight: 300;
    }
    &-preheader {
        color: #696f7c;
        font-size: 20px;
        font-weight: 300;
        padding-top: 35px;
        padding-bottom: 45px;
    }
    &-text {
        color: #44484f;
        font-size: 14px;    
    }

}
