include template/_head.pug
body
	h1 Start header
	a(href='#')
		img.logo(src='https://doc.opensuse.org/projects/kiwi/doc/static/images/icon-important.png')
	p.text some text paragraph
	p.another paragraph
	include template/_footer.pug
