include template/_head.pug
body
	div.container.main-container
		header
			a(href="#").logo
				img(src='dist/img/logo.png')
			form.header-form
				input.input(type="search")
				input.button(type="button")
